---
import Section from "../Section.astro";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import Next from "@/icons/next.astro";
import { skills } from "@cv";
import Swift from "@/icons/swift.astro";
import SwiftUI from "@/icons/swiftui.astro";
import Kotlin from "@/icons/kotlin.astro";
import Flutter from "@/icons/flutter.astro";
import Figma from "@/icons/Figma.astro";
import Gitlab from "@/icons/Gitlab.astro";
import PHP from "@/icons/PHP.astro";
import WordPress from "@/icons/WordPress.astro";
import Expo from "@/icons/Expo.astro";
import Docker from "@/icons/Docker.astro";

const SKILLS_ICONS: Record<string, any> = {
	HTML,
	CSS,
	JavaScript,
	TypeScript,
	React,
	"React Native": React,
	Node,
	MySQL,
	Git,
	GitHub,
	Next,
	Tailwind,
	Swift,
	SwiftUI,
	Kotlin,
	Flutter,
	Figma,
	Gitlab,
	PHP,
	WordPress,
	Expo,
	Docker,
};
---

<Section className={Astro.props.className} title="Technical Skills">
	<ul class="flex flex-col gap-6">
		{
			skills.map(({ category, items }) => (
				<li>
					<h3 class="text-skin-base mb-3 font-medium">{category}:</h3>
					<ul class="flex flex-wrap gap-2" aria-label="Technologies used">
						{items.map((skill) => {
							const iconName = skill.name === "Next.js" ? "Next" : skill.name;
							const Icon = SKILLS_ICONS[iconName];

							return (
								<li class="h-[30px]">
									<a
										href={skill.url}
										target="_blank"
										rel="noopener noreferrer"
										class="bg-skin-button-accent/20 border-skin-hue/20 text-skin-hue hover:bg-skin-hue hover:border-skin-hue hover:text-skin-inverted print:p-0 print:bg-transparent print:text-zinc-800 flex h-full items-center gap-1 rounded-md border border-solid px-2 text-xs transition-colors duration-200 print:border-none"
									>
										{Icon && <Icon />}
										<span>{skill.name}</span>
									</a>
								</li>
							);
						})}
					</ul>
				</li>
			))
		}
	</ul>
</Section>
